.gcloudignore
.git
.git_disabled
.github
.venv
.pnpm-store
.next
node_modules
db.sqlite3
__pycache__
*.pyc
.pytest_cache
.uv-cache
application.log
backend-runserver.log
backend-uvicorn.log
webhook.log
media
static
staticfiles
**/node_modules/
**/.venv/
**/.next/
**/.pnpm-store/
**/.uv-cache/
**/.pytest_cache/
**/__pycache__/
